[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = https://github.com/motemen/git-vim
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim-css3-syntax"]
	path = vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/cscope"]
	path = bundle/cscope
	url = https://github.com/vim-scripts/cscope.vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-php-cs-fixer"]
	path = bundle/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion/
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule "bundle/cscope_macros"]
	path = bundle/cscope_macros
	url = https://github.com/vim-scripts/cscope_macros.vim
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/CSScomb"]
	path = bundle/CSScomb
	url = https://github.com/miripiruni/CSScomb-for-Vim.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = https://github.com/spf13/PIV
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
